<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>CryptoGraph - Stream</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bootstrap-tokenfield.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/stream.css" rel="stylesheet">
    <link rel="icon" href="/images/cryptograph_ico.png" type="image/png">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CryptoGraph</a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <div class="row">
            <div id="stream" class="col-md-6 col-md-offset-3">
                <h1>Your Stream</h1>
                <form id="sendform" role="form">
                    <div class="form-group">
                        <label for="message">Your Message</label>
                        <textarea maxlength="245" class="form-control" rows="4" id="message" placeholder="Maximum of 245 characters"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipients">Send to</label>
                        <input type="text" class="form-control" id="recipients">
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
                <div id="filter-container">
                    <input type="text" class="form-control" id="filter" placeholder="Filter your messages by user name">
                </div>
				<ul id="posts" data-bind="template: { name: 'post-template', foreach: filteredPosts, afterAdd: slideElement}"></ul>

				<script type="text/html" id="post-template">
					<li class="post">
						<p>
							<strong data-bind="text: from"></strong>
							<span class="date" data-bind="text: dateString"></span>
							<a class="reply" href="#" data-bind="click: replyHandler"><i class="fa fa-reply "></i> reply</a>
						</p>
						<p data-bind="text: content"></p>
					</li>
				</script>
            </div>
        </div>
      </div>

    </div><!-- /.container -->

    <!-- Modal -->
    <div class="modal fade" id="passdialog" tabindex="-1" role="dialog" aria-labelledby="passdialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Please enter your password to sync and decrypt your private key</h4>
                </div>
                <form role="form" onsubmit="return false;">
                    <div class="modal-body">
                            <div class="form-group">
                                <label for="pass">Password</label>
                                <input type="password" class="form-control" id="pass" placeholder="Enter Password" autofocus>
                            </div>
                            <div>
                                <label>
                                    <input type="checkbox" id="trust"> Trust this computer
                                </label>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="decrypt">Decrypt private key</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-tokenfield.js"></script>
    <script src="/js/forge.min.js"></script>
    <script src="/primus/primus.js"></script>
    <script src="/js/stream.js"></script>
  </body>
</html>
