html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
	overflow-x: hidden;
}

body {
    padding-top: 50px;
}

h1 {
    text-align: center;
}

.starter-template {
    padding-top: 10px;
}

#posts {
    padding: 0;
    list-style-type: none;
}

#filter-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post {
    background: #fff;
    margin-top: 10px;
    padding: 10px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	word-wrap: break-word;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.content {
    margin-top: 10px;
}

a {
    color: #47525C;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.reply:hover {
    text-decoration: none;
}

.date {
    color: #999;
}

.recipients {
    color: #999;
    margin-bottom: 0px;
}

.nowrap {
    white-space: nowrap;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.heading-border {
    border-top: 1px solid;
}

.baseline {
    vertical-align: baseline;
}

.pointer {
    cursor: pointer;
}

#loadmore {
	text-align: center;
	display: block;
	margin-bottom: 10px;
}

.plus {
	float: right;
	line-height: inherit;
	font-size: 125%;
}

.plus:hover {
    color: #2c363f;
}


@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -80%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -80%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 80%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 80%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 80%; /* 6 columns */
  }
}
